// Einzeiliger Kommentar. Siehe https://sass-lang.com/documentation/syntax/comments

/* Ein
mehrzeiliger
Kommentar
*/

/*! Lauter Kommentar mit "!" wird beim kompilieren nicht entfernt.
(Wichtig z.B. bei style.css von WordPress-Themes oder bei Lizenz-Informationen.) */

/* Importiere Teildateien ("Partials"). Unterstrich und Dateiendung dürfen weggelassen werden.
Hinweis: @use ersetzt das lange übliche @import, siehe dazu https://sass-lang.com/documentation/at-rules/import
*/
@use 'normalize';
@use 'globals/queries';
@use 'globals/colors';
@use 'globals/spacings';
@use 'layout';
@use 'navigation';
@use 'typographie';
@use 'components';
@use 'tables';


button {
  background: var(--gray-8);
  border: 0px;
  padding: var(--size-2) var(--size-3);
  color: var(--gray-1);
  border-radius: var(--radius-round);

}

ul{
  list-style: none;
}

a{
  color: var(--gray-8)
}

.location-finder {
  &__error {
    display: block;
  }
  &__show-map,
  &__show-all {
    margin-block: 1rem;
    small {
      display: block;
    }
  }
}

:is(dt,dd){
  display: inline-block;

}
